<!DOCTYPE html>
<html>
<head>
  <title>SmashedApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
     Logged in as <%= current_user.sname %> | <%= link_to "SMASHED", "/" %> | <%= link_to "SMASHit", "/smashes/new" %> | <%= link_to "SMASHEDout", "/logout" %>
     <% else %>
     <%= link_to "SMASHin", "/login" %> | <%= link_to "GET SMASHED", "/users/new" %>
     <% end %>
<%= yield %>

</body>
</html>
